#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.imageSrc {
  display: block;
  margin: 0 auto;
}

.title {
  font-size: rem;
}

.recipe-title,
.recipe-description {
  margin: 0px;
}

.recipe-title {
  margin-top: 24px;
  font-size: 1.5rem;

}

.recipe-description {
  margin-top: 16px;
  font-size: 1.3rem;
}